source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget FParsec
nuget FSharp.Core
nuget FSharp.Data.LiteralProviders
nuget LibGit2Sharp
nuget Newtonsoft.Json
nuget Spectre.Console
nuget Vanara.PInvoke.User32

# Tests
nuget coverlet.collector
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
nuget FsUnit