source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget FParsec
nuget FSharp.Core
nuget FSharp.Data.LiteralProviders
nuget FSharpPlus
nuget LibGit2Sharp
nuget Newtonsoft.Json
nuget Spectre.Console

group Tests

storage: none
source https://api.nuget.org/v3/index.json
nuget coverlet.collector
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter